.title_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    background-color: gray;
    flex-direction: column;
    align-items: center;
}

.title-item {
    padding-top: 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.my_photo {
    display: block;
    margin: auto;
    
}

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 80%;

    object-fit: contain;
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: darkslategrey;
    flex-direction: row;
}
.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    flex-wrap: nowrap;
}