.title_bar {
    display: flex;
    background-color: rgb(30, 28, 28);
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 18px;
    border-color: rgb(30, 28, 28);
}

.title-item {
    color: rgb(238, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -23px;
    margin-bottom: -10px;
}


.my_photo {
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 80%;

    object-fit: contain;
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}



.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.footer {
    display: flex;
    background-color: rgb(30, 28, 28);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 28, 28);
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: rgb(238, 234, 234);
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 28, 28);
    flex-direction: row;
}

.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30, 28, 28);
    flex-wrap: nowrap;
    padding-left: 25px;
    padding-right: 25px;
}